@use '../../../shared/styles/mixins' as m;

.cidadao-page {
  max-width: 1200px;
}

.page-header {
  @include m.page-header;
}

.filters-card {
  @include m.filters-card;
}

.table-card {
  @include m.table-card;
}

.no-data {
  @include m.no-data;
}
